<ion-content fullscreen>

  <div class="resetPassword-page">

    <div class="top-section">

      <div class="logo-circle">
        <ion-icon name="location-outline"></ion-icon>
      </div>

      <h1>Descobrir Lugares</h1>

      <p>Atualize sua senha</p>

    </div>

    <div class="form-container">

      <h2>Alterar Senha</h2>

      <form
        [formGroup]="resetPasswordForm"
        (ngSubmit)="updatePassword()">

        <!-- SENHA ATUAL -->

        <div class="input-group">

          <label>Senha Atual</label>

          <div
            class="custom-input"
            [class.valid]="resetPasswordForm.get('currentPassword')?.valid && resetPasswordForm.get('currentPassword')?.touched"
            [class.invalid]="resetPasswordForm.get('currentPassword')?.invalid && resetPasswordForm.get('currentPassword')?.touched">

            <ion-icon name="lock-closed-outline"></ion-icon>

            <ion-input
              [type]="showCurrentPassword() ? 'text' : 'password'"
              placeholder="••••••••"
              formControlName="currentPassword">
            </ion-input>

            <button
              type="button"
              class="eye-button"
              (click)="toggleCurrentPassword()">

              <ion-icon
                [name]="showCurrentPassword()
                ? 'eye-off-outline'
                : 'eye-outline'">
              </ion-icon>

            </button>

          </div>

        </div>

        <!-- NOVA SENHA -->

        <div class="input-group">

          <label>Nova Senha</label>

          <div
            class="custom-input"
            [class.valid]="resetPasswordForm.get('newPassword')?.valid && resetPasswordForm.get('newPassword')?.touched"
            [class.invalid]="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched">

            <ion-icon name="lock-closed-outline"></ion-icon>

            <ion-input
              [type]="showNewPassword() ? 'text' : 'password'"
              placeholder="••••••••"
              formControlName="newPassword">
            </ion-input>

            <button
              type="button"
              class="eye-button"
              (click)="toggleNewPassword()">

              <ion-icon
                [name]="showNewPassword()
                ? 'eye-off-outline'
                : 'eye-outline'">
              </ion-icon>

            </button>

          </div>

        </div>

        <!-- CONFIRMAR SENHA -->

        <div class="input-group">

          <label>Confirmar Nova Senha</label>

          <div
            class="custom-input"
            [class.valid]="resetPasswordForm.get('confirmPassword')?.valid && resetPasswordForm.get('confirmPassword')?.touched"
            [class.invalid]="resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched">

            <ion-icon name="lock-closed-outline"></ion-icon>

            <ion-input
              [type]="showConfirmPassword() ? 'text' : 'password'"
              placeholder="••••••••"
              formControlName="confirmPassword">
            </ion-input>

            <button
              type="button"
              class="eye-button"
              (click)="toggleConfirmPassword()">

              <ion-icon
                [name]="showConfirmPassword()
                ? 'eye-off-outline'
                : 'eye-outline'">
              </ion-icon>

            </button>

          </div>

        </div>

        <ion-button
          expand="block"
          type="submit"
          class="resetPassword-button">

          Salvar

        </ion-button>

      </form>

    </div>

  </div>

</ion-content>